@import "tailwindcss";

/* css tokens */
:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --surface: #ffffff;
  --surface-muted: #f1f5f9;

  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --primary-hover: #1d4ed8;

  --border: #e2e8f0;
  --border-focus: #2563eb;

  --muted: #64748b;
  --muted-foreground: #475569;

  --danger: #dc2626;
  --danger-surface: #fef2f2;

  --ring: #93c5fd;

  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}

@theme inline {
  --font-sans: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-border: var(--border);
  --color-border-focus: var(--border-focus);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-danger: var(--danger);
  --color-danger-surface: var(--danger-surface);

  --color-ring: var(--ring);
}